html{
  position: relative;
  min-height: 100%;
}
footer{
  position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(66, 20, 20);
    color: rgb(179, 179, 179);
  }
  
  a:link, a:visited, a:hover, a:active{
    text-decoration: none;
  }
  
  
  footer ul{
    list-style: none;
    display: inline-block;
  }
  
  footer li{
    display: inline-block;
    margin: 0 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    font-size: 22px;
  }
  
  .facebook, .youtube, .instagram, .twitter{
    background-color: #fff;
    transition: all 0.2s;
  }
  
  .facebook:hover{
    background-color: #3b5998;
    color: #fff;
  }
  
  .facebook a:link, .facebook a:visited{
    color: #3b5998;
    transition: all 0.2s;
  }
  
  .facebook:hover a, .youtube:hover a, .instagram:hover a, .twitter:hover a{
    color: #fff !important;
  }
  
  .youtube:hover{
    background-color: #c4302b;
  }
  
  .youtube a:link, .youtube a:visited{
    color: #c4302b;
    transition: all 0.2s;
  }
  
  .instagram:hover{
    background-color: #3f729b;
  }
  
  .instagram a:link, .instagram a:visited{
    color: #3f729b;
    transition: all 0.2s;
  }
  
  .twitter:hover{
    background-color: #00acee ;
  }
  
  .twitter a:link, .twitter a:visited{
    color: #00acee ;
    transition: all 0.2s;
  }
  
  .youtube, .instagram{
    padding-top: 9px;
  }
  
  #map {
    height: 200px;
    width: 100%;
   }