header{
    background-image: url('../../imgs/healthbg.jpg');
    padding: 20px 10px;
    text-align: center;
    margin-top: 70px;
}

.posts{
    margin-top: 35px;
    margin-bottom: 28%;
}

.post-item{
    padding:15px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10px;
    margin-bottom: 15px;
    transition: all 0.3s;
}

.post-item:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.read-more{
    display: inline-block;
    padding: 3px 7px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

.read-more:link, .read-more:visited{
    color: rgb(21, 95, 255);
}

.read-more:hover, .read-more:active{
    background: linear-gradient(to right, rgb(6, 143, 255) 0%, rgb(17, 100, 255) 100%);
    color: #fff;
}
  
.post-item .fas{
    color: rgb(255, 145, 0);
    line-height:32px;
    font-size:1.70rem;
}

@media (max-width: 1122px)
{
    .posts{
        margin-bottom: 40%;
    }
}
@media (max-width: 805px)
{
    .posts{
        margin-bottom: 55%;
    }
}
@media (max-width: 767px)
{
    .posts{
        margin-bottom: 70%;
    }
}
@media (max-width: 623px)
{
    .posts{
        margin-bottom: 85%;
    }
}
@media (max-width: 523px)
{
    .posts{
        margin-bottom: 113%;
    }
}
@media (max-width: 387px)
{
    .posts{
        margin-bottom: 140%;
    }
}